.blog-post {
    .table {
        font-size: 15px;
        .btn-link {
            font-size: 15px;
            color: #000;
            text-decoration: none;
            padding: 0;
            margin-right: 10px;
        }
    }
}